@import "libs/mixins.scss";
@import "libs/functions.scss";
@import "libs/responsive.scss";
//commentaire scss

@font-face { font-family: "Roboto";
    src: url(Roboto/Roboto-Regular.ttf);
}
@font-face { font-family: "shrikhand";
    src: url(shrikhand/Shrikhand-Regular.otf);
}

$primary: #9356DC;
$primary_claire:#9360DC;
$secondary: #FF79DA; 
$secondary_claire: #FF8DDA;
$tertiary: #99E2D0;
$quaternary: #f5f3f7;
$font-grey: #f2f2f2;
$font-extra: #ebebeb;
$anim-dur:2000ms;
$num-bars: 10;
$anim-delay: $anim-dur / $num-bars;



//accueil

a,
h1,
h2,
p,
span {
    font-family:"Roboto", Impact, "Arial Black", Arial, Verdana, sans-serif;
}

h1{
    font-size: 26px;
}

body{
    background: $font-grey;
    margin: 0%;
    padding: 0%;
}

.header{
        h1 {
            width: 80%;
            @include center;
            text-align: center;
        } 
        p{
            width: 90%;
            @include center;
            text-align: center;
        }
        .header_menu{
            background: $font-extra;
        }
        .header_logo_ohmyfood {
            background: $font-grey;
            width: 100%;
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 4px 0 #fff;
            box-shadow: inset 4px 8px 10px rgba(0, 0, 0, .2);
                    
                }     
    
        .header_recherche{
            background:$font-extra;
            height: 60px;
            @extend .header_logo_ohmyfood;
                .imput{
                    width: 170px;
                    background:$font-extra;
                    border:none;
                    font-weight: bolder;
                }
                #villes_header::placeholder{
                    color: black;
                    opacity: 80%;
                }
        }
       
        
        .fa-map-marker-alt{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-right: 15px;

        }
        .conteneur_menu_acceuil {
            background: $font-grey;
            padding: 15px
        }
        .btn_header {
            @include center;
            @include shadow;
            background-image: linear-gradient(160deg, $secondary 0%, $primary 100%);
            color: white;
            width: 70%;
            cursor: pointer;
            padding: 20px;
            margin-bottom: 80px;
            margin-top: 30px;
            border-radius: 30px;
            transform: scale(1);
            transition: transform 400ms;
            text-align: center;
            white-space: nowrap;
                &:hover {
                    transform: scale(1.15);
                    &::after {
                        border-radius: 30px;
                        opacity: 1;
                    }
            }
            &::after {
                border-radius: 30px;
                content: "";
                position: absolute;
                border: none;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: radial-gradient(circle, ($primary_claire) 0%, ($secondary_claire) 100%);
                opacity: 0;
                z-index: -1;
                transition: opacity 250ms;
            }
        }
}

.main{
        p,
        span{
            font-size: 16px;
        }
        .conteneur_fonctionnement{
            background: white;
            padding: 15px;
                .conteneur_card_fonct{
                    width: 100%;
                    height: 350px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    margin-bottom: 120px;
                    .filtre_card {
                        @include shadow;
                        width: 90%;
                        height: 80px;
                        color: black;
                        border-radius: 30px;
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        position: relative;            
                        .numerotation_filtre {
                            @include btn_numero;
                            position: absolute; 
                            left: -12.5px;
                        }
                        .icon_filtre {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            align-content: center;
                            height: 50px;
                            width: 50px;
                            border-radius: 30px;
                            color: gray;
                            
                        }
                        .icon_info {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 1%;
                            width: 30px;
                            height: 30px;
                            border-radius: 40px;
                            border: solid 1px #d8d8d8;
                            min-width: 30px;
                            min-height: 30px;
                        }
                        .filtre_card h2 {
                            margin-left: 2%;
                            padding-right: 8%;
                            white-space: nowrap;
                        }
                        &:hover {
                            text-decoration: none;
                            transform: scale(1.1);
                            transition-duration: 400ms;
                            background: $quaternary;
                            .icon_filtre {
                                color: #9356DC;
                            }
                        }   
        
                    }
                }
        }
        .conteneur_restaurants{
            background: $font-grey;
            padding: 15px;
            .conteneur_card {
                width: 100%;
                height: 1300px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-content: center;
                padding-bottom: 50px;
            }
            .card {
                width: 97%;
                margin: 1.5%;
                box-shadow: 0 4px 4px 0 rgb(27, 16, 16);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
                border-radius: 10px;
                background-color: white;
                position: relative;
                .nouveau {
                    top: 0%;
                    right: 0%;
                    background: $tertiary;
                    border-radius: 5%;
                    padding: 5px;
                    color: darken($color: $tertiary, $amount: 40);
                    position: absolute;
                    transform: translate(-15%, 40%);
                }
                .menu_1,
                .menu_3,
                .menu_3,
                .menu_4 {
                    object-fit: cover;
                    object-position:bottom;
                }
                .menu_2 {
                    object-fit: cover;
                }
            }        
            a.card:link {
                text-decoration: none;
            }
            .texte_coeur {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                background-color: #fff;
                border-radius: 0 0 10px 10px;
            }
            .card_text {
                color: black;
                height: 70px;
                line-height: 60%;
                padding: 2%;
                    h2{
                        font-size: 19px;
                    }
                    
            }
            img {
                background-size: cover;
                background-position: bottom;
                height: 170px;
                width: 100%;
                border-radius: 10px 10px 0 0;
            }
            .anim_coeur {
                color: $primary;
                margin-right: 10px;
                position: relative;
                width: 26px;
                height: 26px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .anim_coeur i {
                position: absolute;
                transition: opacity 0.7s;
            }
            .coeur_plein {
                opacity: 0;
            }
            .anim_coeur:hover .coeur_plein {
                opacity: 1;   
            }
            .anim_coeur:hover .coeur_vide {
                opacity: 0;
            }
        } 
}

.footer{
    height: 300px;
    width: 100%;
    background: #353535;
        .packfooter {
            width: 100%;
            display: flex;
                p{
                    font-size: 16px;
                }
                h1{
                    font-family:"shrikhand", Impact, "Arial Black", Arial, Verdana, sans-serif;
                    color: white;
                    size: 16px;
                    letter-spacing: 2px;
                }
        }
        .pack { 
            width: 100%;
            padding: 5%;
            height: 100%;
        }
        .a_footer {
            width: 100%;
            height: 40px;
            color: white;
            padding-right: 1%;
            text-decoration: none;
            display: flex;
            border-left: none;
            justify-content: flex-start;
            align-items: center;
        }
        .div_footer{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center; 
        }
        .icon_footer1{
            padding-right: 20px;
        }
        .icon_footer2{
            padding-right: 12px;
        }
        

        

}

//menu_1 a la francaise

.header_menu {
    @extend .header;
    .fleche {
        width: 20px;
        position: absolute; top: 28px; left: 25px; 
            .fa-arrow-left {
                text-decoration: none;
                color: black;
                opacity: 80%;
            }
    }

}

.photo_menu_1{
    object-position: cover;
    height: 300px;
    width: 100%;
}

.main_menu{
    width: 100%;
    background:$font-extra;
    .conteneur_menu{
        transform: translateY(-60px);
        background:$font-extra;
        padding: 15px;
        border-radius: 30px 30px 0px 0px;
        .titre_menu {
            text-align: start;
            display: flex;
            justify-content:space-between;
            align-items: center;
            padding-right: 15px;
        }
        .anim_coeur {
            color: $primary;
            margin-right: 10px;
            position: relative;
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .anim_coeur i {
            position: absolute;
            transition: opacity 0.7s;
        }
        .coeur_plein {
            opacity: 0;
        }
        .anim_coeur:hover .coeur_plein {
            opacity: 1;   
        }
        .anim_coeur:hover .coeur_vide {
            opacity: 0;
        }
        
        h1 {
            font-size: 26px;
            font-family:"shrikhand", Impact, "Arial Black", Arial, Verdana, sans-serif;   
        }
        h2 {
            font-size: 18px;
            opacity: 60%;
            margin-bottom: 0;
            padding-top: 15px;
        }
        .titre_plat {
            border-bottom: solid $tertiary;
            width: 50px;
            height: 40px;
            margin-bottom: 10px;

        }
@keyframes check_circle {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
        
    }
}
a {
    text-decoration: none;
        
}
@keyframes apparition{
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(1px);
        opacity: 1;
    }
}
    .conteneur_card_entrees{
        width: 100%;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        margin-bottom: 40px;
        .filtre_card {
            box-shadow: 0 4px 4px 0 #fff;
            box-shadow: 0 4px 4px 4px rgba(0, 0, 0, .2);
            width: 300px;
            height: 70px;
            display:flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 20px;
            position: relative;
            &:hover{
                .card_text{
                    width: 190px;
                    transition:all 0.5s ease;
                }
                .check{
                    width: 110px;
                    transition:all 0.5s ease; 
                }
                .prix {
                    background:$font-extra;
                    width: 45px;
                }
                .fa-check-circle {
                    color: rgb(255, 255, 255);
                    right: 20px;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    animation-name: check_circle;
                    animation-duration: 0.4s;
                    animation-delay: 0.2s;
                    animation-fill-mode:forwards;
                }
            }
            .card_text {
                display: flex;
                flex-direction: column;
                justify-content:center;
                text-align:start;
                padding-left: 5px;
                width: 250px;
                height: 70px;
                border-radius: 20px 0px 0px 20px;
                transition:all 0.5s ease;
                text-overflow: ellipsis; 
                white-space: nowrap; 
                    h3 {
                        margin: 0;
                        font-size: 16px;
                        line-height: 20px;
                        color: black;
                        font-weight: bold;
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        font-size: 8px;
                        line-height: 20px;
                        color: black;
                        opacity: 0.5;
                    }
                    h3, p {
                        overflow: hidden;
                        text-overflow: ellipsis; 
                        white-space: nowrap; 
                    }
            }
            .check {
                background:$tertiary;
                display: flex;
                align-items: center;
                width: 50px;
                height: 70px;
                border-radius: 0 20px 20px 0;
                transition:all 0.5s ease;
                overflow: hidden;
            }
            .prix {
                display: flex;
                justify-content: flex-start;
                background:$font-extra;
                align-items:center;
                color:black;
                width: 50px;
                height: 70px;
                font-weight: bold;
                font-size: 16px;
            }
            .fa-check-circle {
                opacity: 0;
                width: 0;
                height: 0;
            }
        }   
    }
.filtre_card {
    animation: apparition $anim-dur;
    @for $i from 1 through $num-bars {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
            }
        }
}
        .conteneur_card_plats {
            @extend .conteneur_card_entrees;
        
        }
        .conteneur_card_desserts {
            @extend .conteneur_card_entrees;
        }
        .btn_menu {
            @include center;
                @include shadow;
                background-image: linear-gradient(160deg, $secondary 0%, $primary 100%);
                color: white;
                width: 50%;
                cursor: pointer;
                padding: 20px;
                margin-bottom: 80px;
                margin-top: 30px;
                border-radius: 30px;
                transform: scale(1);
                transition: transform 400ms;
                text-align: center;
                white-space: nowrap;
                    &:hover {
                        transform: scale(1.15);
                        &::after {
                            border-radius: 30px;
                            opacity: 1;
                        }
                }
                &::after {
                    border-radius: 30px;
                    content: "";
                    position: absolute;
                    border: none;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: radial-gradient(circle, ($primary_claire) 0%, ($secondary_claire) 100%);
                    opacity: 0;
                    z-index: -1;
                    transition: opacity 250ms;
                }
        }
    }
}



